* {
    margin: 0;
    padding: 0;
}

html.biggerFont {
    font-size: 150%;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background-color: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialiased;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.scroll-top {
    display: none;
    width: 35px;
    height: 35px;
    position: fixed;
    left: 30px;
    bottom: calc(2rem + 12.5px);
    background-color: #222;
    border: 1px solid #faf6ed;
    color: #fb5;
    font-weight: 900;
    font-size: 1.25rem;
    cursor: pointer;
    z-index: 600;
}

.js [data-anime="scroll-top"] {
    display: block;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.js [data-anime="scroll-top"].active {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.menu {
    grid-column: 1 / 4; /*Linha 3 (coluna 2) ate linha 5 (fim da coluna 4)*/
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fb5;
    display: grid;
    grid-template-columns: 50vw 1fr;
}

.menu ul:not(.dropdown-menu) {
    display: flex;
    grid-column: 2;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    transform: translateX(-50%);
    z-index: 1000;
}

.menu li a {
    display: block;
    padding: 15px 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1em;
}

/* Grid styling */

.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    gap: 20px;
    margin-bottom: 4rem;
}

.titulo {
    font-family: 'Playfair Display SC', Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;
    margin-bottom: 1rem;
    line-height: 1;
    font-weight: normal;
    grid-column: 1 / 4;
}

.js [data-anime="scroll"] {
    opacity: 0;
    transform: translateX(-50px);
}

.js [data-anime="scroll"].active {
    opacity: 1;
    transform: translateX(0);
    transition: all .3s ease-in-out;
}

/* Animais */

.animais h2 {
    font-family: 'IBM Plex Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #E54;
}

.animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
}

.animais p {
    font-family: sans-serif ,Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
    scroll-snap-type: y mandatory;
}

.animais-lista li {
    scroll-snap-align: center;
}

.animais-lista::-webkit-scrollbar {
    width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
    background-color: #fb5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
    background-color: #faf6ed;
}

.animais-descricao {
    grid-column: 3;
}

.animais-descricao section{
    margin-bottom: 3rem;
}

.js [data-tab="menu"] img {
    cursor: pointer;
}

.js [data-tab="content"] section {
    display: none;
}

[data-tab="content"] section.active {
    display: block !important;
}

[data-tab="content"] section.active.animate-right {
    animation: show-right .5s forwards;
}

[data-tab="content"] section.active.animate-down {
    animation: show-down .5s forwards;
}

@keyframes show-right {
    from{
        opacity: 0;
        transform: translate3d(-30px, 0, 0)
    }
    to{
        opacity: 1;
        transform: translateX(0, 0, 0);
    }
}

@keyframes show-down {
    from{
        opacity: 0;
        transform: translate3d(0, -30px, 0)
    }
    to{
        opacity: 1;
        transform: translateX(0, 0, 0);
    }
}

/* FAQ */

.faq-lista {
    grid-column: 2 / 4;
}

.faq-lista dt {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #E54;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
}

.faq-lista dd {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 30px;
}

.js [data-anime="accordion"] dt {
    cursor: pointer;
    user-select: none;
}

.js [data-anime="accordion"] dd {
    display: none;
}

.js [data-anime="accordion"] dd.active {
    display: block;
    animation: slideDown .3s forwards;
}

.js [data-anime="accordion"] dt::after {
    content: '⬎';
    font-size: 1.2rem;
}

.js [data-anime="accordion"] dt.active::after {
    content: '⬏';
    font-size: 1.2rem;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
        max-height: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
        max-height: 1000px;
    }
}

/* Contato */

.mapa {
    grid-column: 2;
}

.info {
    grid-column: 3;
}

.info li {
    width: fit-content;
    margin-bottom: 1rem;
    font-family: Helvetica, Arial, sans-seriff;
}

.info li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #fb5;
}

.btc-preco {
    background-color: rgb(95, 255, 47);
    padding: .2rem .5rem;
    font-weight: bold;
    border-radius: 2px;
}

.js li[data-week]::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 7px;
}

.js li.open::after {
    background-color: rgb(95, 255, 47);
}

.js li.closed::after {
    background-color: red;
}

.copy {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 50vw;
    margin-bottom: 2rem;
    background-color: #fb5;
    align-items: center;
}

.copy p {
    width: fit-content;
    transform: translateX(-50%);
    grid-column: 2;
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    grid-row: 1;
}

.socials {
    grid-row: 1;
    grid-column: 2;
    text-align: right;
    margin-right: 20px;
}

.socials a {
    text-decoration: none;
    color: black;
    padding: 3px;
}

@media (max-width: 1150px){
    .scroll-top {
        bottom: 12.5px;
    }
    .menu, .copy{
        grid-column: 1 / 5;
    }
    .menu {
        margin-top: 0;
    }
    .copy {
        margin-bottom: 0;
    }
}

@media (max-width: 745px) {
    .js [data-anime="scroll-top"]:active, .js [data-anime="scroll-top"] {
        display: none;
    }
    .grid-container {
      grid-template-columns: 1fr;
    }
    .titulo {
        font-size: 3rem;
    }
    .menu, .grid-section, .copy {
      grid-column: 1;
    }
    .grid-section {
        grid-template-columns: 100px 1fr;
        gap: 10px;
    }
    .animais-lista {
        grid-column: 1;
    }
    .faq-lista, .info, .mapa {
        grid-column: 1 / 3;
    }
    .menu {
        margin-top: 0;
        display: block;
    }
    .menu ul:not(.dropdown-menu) {
        transform: none;
        z-index: 1000;
    }
    .copy {
        margin-bottom: 0;
        display: block;
    }
    .copy p {
        transform: none;
        margin: 0 auto;
    }
    .socials {
        display: block;
        margin-right: unset;
        text-align: center;
        height: 32px;
    }
}
  