.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-container.active {
    display: flex;
}

.modal {
    min-width: 200px;
    background-color: white;
    padding: 40px;
    border: 10px solid #fb5;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes showModal {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.active .modal {
    animation: showModal .3s forwards;
}

.close {
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: #E54;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
    font-size: 1.2rem;
    color: white;
    font-family: monospace, Arial;
    cursor: pointer;
}

.modal label {
    font-family: 'IBM Plex Mono', monospace;
    display: block;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
}

.modal input {
    width: 100%;
    padding: .7rem .5rem;
    box-sizing: border-box;
}

.modal button[type="submit"] {
    display: block;
    background-color: #E54;
    border: none;
    border-radius: 4px;
    padding: .7rem 2rem;
    font-size: 1rem;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;
}