@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Playfair+Display+SC:wght@400;700;900&display=swap');
@import 'modal.css';
@import 'general.css';
@import 'tooltip.css';
@import 'dropdown-menu.css';